.button {
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.primary {
  background-color: #2196f3;
}
.success {
  background-color: #4caf50;
}

.danger {
  background-color: #d9534f;
}

.info {
  background-color: #00bcd4;
}

.block {
  width: 100%;
}
