.input-wrapper {
  width: inherit;
  position: relative;
}

.input {
  width: 100%;
  position: relative;
  height: 1rem;
  padding: 0.625rem 0 !important;
}

.input:before {
  position: absolute;
  padding: 0 0.625rem;
  content: attr(formatted-date);
  display: inline-block;
  color: black;
}

.input::-webkit-datetime-edit,
.input::-webkit-inner-spin-button,
.input::-webkit-clear-button {
  display: none;
}

.input::-webkit-calendar-picker-indicator {
  display: none;
}

.input-wrapper i {
  position: absolute;
  top: 5%;
  border-left: 2px solid black;
  right: -2px;
  height: 2.25rem;
  background-color: white;
  z-index: 999;
  width: 30px;
}

.input-wrapper i::before {
  vertical-align: -50%;
  padding: 0 0.5rem;
}
