.to-do-list {
  display: flex;
}
.container {
  padding: 4rem 6rem 0 6rem;
}

.add-container {
  width: 40%;
  min-height: calc(100vh - 4rem);
  border-right: 1px solid black;
}

.list-container {
  width: 60%;
  min-height: calc(100vh - 4rem);
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .to-do-list {
    display: block;
  }

  .container {
    padding: 0;
    margin: 0 auto;
  }

  .add-container,
  .list-container {
    width: 80%;
    min-height: auto;
    border: none;
  }
  .list-container {
    margin-bottom: 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .add-container,
  .list-container {
    width: 95%;
  }

  .list-container {
    margin-bottom: 5rem;
  }
}
