.container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  width: calc(60% - 3rem + 6px);
  justify-content: space-between;
  align-items: center;
  background-color: #e0e0e0;
  border: 2px solid black;
}
.container p {
  margin: 0;
  padding-left: 1.5rem;
  font-size: 1.25rem;
}

.action-buttons {
  padding-right: 1.5rem;
}

.action-buttons button {
  margin: 1.5rem;
  font-size: 1.25rem;
  padding: 0.875rem 2rem;
  color: white;
}

.action-buttons button:nth-child(1) {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .action-buttons {
    padding-right: 0;
    display: flex;
  }

  .action-buttons button:nth-child(1) {
    margin-right: 0.625rem;
  }

  .action-buttons button {
    margin: 0.625rem;
    padding: 0.625rem 1rem;
  }
}
