.to-do-card {
  border: 2px solid black;
  margin-bottom: 2rem;
}

.card-header {
  padding: 1.5rem;
}

.card-header > div span {
  font-size: 16px;
  display: inline-block;
  margin-left: 0.5rem;
}

.action-header button {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.action-header button:nth-child(1) {
  margin-right: 1.5rem;
}

.card-body {
  border-top: 2px solid black;

  padding: 0;
  transition: all 0.25s ease-out;
  padding: 1.5rem 2.25rem;
}

@media only screen and (max-width: 600px) {
  .card-header {
    padding: 0.875rem;
  }

  .action-header button {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .action-header button:nth-child(1) {
    margin-right: 1rem;
  }
}
