.input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  height: 1.25rem;
  margin-right: 1rem;
}
.input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 1px solid black;
  background-color: white;
}
.input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 1px solid black;
  background-color: white;
}
.input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 22px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  position: absolute;
  top: -6px;
  left: 12px;
}
