.App {
  text-align: center;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-gap-2 {
  grid-column-gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form-group label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.form-group .form-control {
  border: 2px solid black;
  padding: 0.625rem;
}
.empty {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
